<!DOCTYPE html>

<html>
  <head>
    <title>Build a Blog</title>
  <head>

  <style type="text/css">
      body {
        font-family: Georgia;
        font-size: 20px;
        background-color: Gainsboro;
        width: 90%;
        margin: 0 auto;
        padding: 50px;
      }

      textarea {
        width: 900px;
        height: 400px;
      }
  </style>

  <body>
    <a href="/blog"><h1>Blog!</h1></a>
    <a href="/"><h2>Add a New Post!</h2></a>
    {% block content %}
    {% endblock %}
  </body>
</html>
